.top
  .top-header
    = link_to new_host_path(), class:"top-header-left" do
      レシピの登録
    .top-header-right
      ランダムで表示
.content
  .content-main
    ランダムで表示を押した時に出る画像とタイトル
.footer
  .footer-main
    .footer-main-kensaku 検索したい材料もしくはレシピ名を入力し検索する機能
