.top{
  height: 100px;
  width: 100vw;
}

.top-header{
  height: 100px;
  width: calc(100vw - 200px);
  margin: 0 auto;
  display: flex;
}

.top-header-left{
  height: 100px;
  width: calc(50vw - 100px);
  background: linear-gradient(red, white);
  line-height: 100px;
  text-align: center;
  font-size: 48px;
  text-decoration: none;
  color: black;
}

.top-header-right{
  height: 100px;
  width: calc(50vw - 100px);
  background: linear-gradient(green, white);
  line-height: 100px;
  text-align: center;
  font-size: 48px;
  text-decoration: none;
  color: black;
}

.content{
  height: 500px;
  width: calc(100vw - 200px);
  padding: 50px 0;
  margin: 0 auto;
  background-color: blue;
  z-index: -9999;
}

.content-main{
  height: 500px;
  width: calc(100vw - 300px);
  margin: auto;
  background-color: pink;
}

.footer{
  height: 100px;
  width: calc(100vw - 200px);
  margin: 0 auto;
  background-color: red;
}